DATABASE_URL="mongo db_url"

# sentry
SENTRY_DSN=https://8dbf58ff1017200c07b486ce657422f0@o4509525106294784.ingest.de.sentry.io/4509525149614160
SENTRY_ENVIRONMENT=development
SENTRY_RELEASE=crud_app@1.0.0

# next-auth secret-key
NEXTAUTH_SECRET="secret-key"